* {
    margin: 0;
}


.navbar {
    text-align: center;
    background-color: blue;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}


.left-choice, .right-choice {
    text-align: center;
}

.dog-container {
    width: 80%;
    margin: 5px auto;
    text-align: center;
}

#dogs-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dogs-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left-image {
    width: 50%;
}

#right-image {
    width: 50%;
}

#initial-page {
    display: visible;
}

/* #final-page {
    display: none;
} */
